<%= render 'layouts/header'%>

<p>
Welcome to Secret Santa! Secret Santa is a web application that makes Secret Santa easy this holiday season! Create a group and secret password for your group, and members can log in and add their personal information. As soon as all members have joined the group, an automated email will be sent to each group member with their assigned person to purchase a gift for, along with optional price range and exchange date! 
</p> 

<img src="http://cliparts.co/cliparts/ATb/jGo/ATbjGoBac.png" align="middle"/>