<h1>Secret Santa!!!!!</h1>
<nav>
  <ul>
    <li><%= link_to "Create Group",   '#' %></li>
    <li><%= link_to "Log in to Existing Group",   '#' %></li>
    <li><%= link_to "About Secret Santa", '#' %></li>
  </ul>
</nav>
