<li class="userfield" id="User-<%= user.id %>">
  <span class="user"><%= user.name %></span>
  <span class="email"><%= user.email %></span>
  <span class = "remove_user"> <%= link_to "remove", user, method: :destroy,
                                       data: { confirm: "Remove group member?" },
                                       class: "remove_user" %> </span>
</li>