<%= link_to "Secret Santa", root_path, id: "logo" %>
<nav>
  <ul class="nav nav-bar nav-right">
    <li><%= link_to "Create Group",   create_group_path %></li>
    <li><%= link_to "Log in to Existing Group",  '#'  %></li>
    <li><%= link_to "About Secret Santa", about_path %></li>
  </ul>
</nav>